a:-webkit-any-link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  background: #c6e3f3;
}

.hide {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  // min-height: 100vh;
  line-height: 1.5;
}

p,
a,
li,
ul,
ol,
table {
  font-family: var(--font-dmsans);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

textarea:not([rows]) {
  min-height: 10em;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:target {
  scroll-margin-block: 5ex;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: var(--font-dmsans);
}

$colors: orange, green, blue, purple, pink, red;

nav {
  position: sticky;
  z-index: 10;
  top: 5px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px -0.8px 6px rgba(98, 98, 98, 0.3));

  ul {
    margin: inherit;
    padding: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  li {
    width: inherit;
    padding: 4px;
    text-align: center;
    padding: 0.8rem 0;

    a {
      text-decoration: none;
    }

    // Move the color loop outside of the anchor element's styling
    @for $i from 1 through length($colors) {
      &:nth-child(#{$i}) a {
        color: nth($colors, $i);
      }
    }

    &.active {
      background-color: #701438;
      border-radius: 11px;
      font-weight: 400;

      a {
        color: #ffd0e6;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    align-items: center;
  }

  div {
    background: white;
    border-radius: 11px;
    width: 95vw;
    @media screen and (min-width: 768px) {
      width: 60vw;
    }
  }
}

.back {
  display: block;
  background-color: pink;
  align-items: center;
  justify-content: flex-end;
}

.hide {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  grid-auto-rows: auto;
  align-items: start; //remove if not wanted
  grid-auto-rows: min-content; //remove if not wanted
}

.griditem {
  border: 1px solid #ddd;
  padding: 20px;
  grid-column: auto / span auto;
}

.grid-item:first-child {
  grid-column: 1 / -1;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.highlight {
  background-color: rgb(246, 215, 246);
  color: black;
}

html,
.root {
  font-size: 18px;
  line-height: 28px;
}
body,
.article {
  font-family: sans-serif;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.55555556em;
  //   max-width: 560px;
  //   margin: auto;
}
h1,
.h1 {
  font-size: 4.22222222em;
  line-height: 1.10526316em;
  margin-top: 0.36842105em;
  margin-bottom: 0.7368421em;
}
h2,
.h2 {
  font-size: 2.61111111em;
  line-height: 1.19148936em;
  margin-top: 0.59574468em;
  margin-bottom: 0.59574468em;
}
h3,
.h3 {
  font-size: 1.61111111em;
  line-height: 1.93103448em;
  margin-top: 0.96551724em;
  margin-bottom: 0em;
}
h4,
.h4 {
  font-size: 1em;
  line-height: 1.55555556em;
  margin-top: 1.55555556em;
  margin-bottom: 0em;
}
h5,
.h5 {
  font-size: 1em;
  line-height: 1.55555556em;
  margin-top: 1.55555556em;
  margin-bottom: 0em;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0em;
  margin-bottom: 1.55555556em;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: auto;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

section:not(#footer) {
  min-height: 70vh;
}

#projects {
  li:nth-child(1) {
    background-color: #efd7db;
  }

  li:nth-child(2) {
    background-color: #f0dca1;
  }

  li:nth-child(3) {
    background-color: #d2edcd;
  }
}
