.home {
  background-color: black;
}

.title {
  background-color: pink;
  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.loc {
  flex-grow: 1;
}
.info {
  background-color: yellow;
  display: flex;
}

.centertext {
  flex-grow: 3;
  background-color: blue;
  height: 200vh;
}
