#footer {
  background: #e3c8d4;
  margin-top: 12vh;
  padding-top: 9vh;
  width: inherit;
  .contact {
    display: flex;
    justify-content: space-around;
  }

  .copyright {
    text-align: center;
    padding-top: 4vh;
  }
}
