#projects {
  //   background: #f1eae4;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .comp {
    font-size: 0.9rem;
  }

  .title {
    padding: 0.3rem 0;
  }

  .work {
    padding: 10vh 0 5vh 0;
  }

  .container {
    width: 90vw;
  }

  .li {
    list-style: none;
    margin: 20px 0;
    border-radius: 11px;
    filter: drop-shadow(3px 6px 12px #2a292f2c);
  }

  li:nth-child(1) {
    background-color: #efd7db;
  }

  li:nth-child(2) {
    background-color: #f0dca1;
  }

  li:nth-child(3) {
    background-color: #d2edcd;
  }
}

.thumbnail {
  height: 30vh;
  li:nth-child(1) {
    background-color: #efd7db;
  }

  li:nth-child(2) {
    background-color: #f0dca1;
  }

  li:nth-child(3) {
    background-color: #d2edcd;
  }
}

.card {
  padding-bottom: 1px;
  .text {
    background-color: white;
    padding: 13px;
    width: calc(90vw - 30px);
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 11px;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
